.mrgt {
  margin-top: 7%;
  color: #4e4d52 !important;
}
.top-40 {
  top: 40px !important;
}
.top-30 {
  top: 30px !important;
}
label{
  transition: 0.7s;
}
.icon-line {
  position: relative;
  color: #4d524f !important;
}

.icon-line::before,
.icon-line::after {
  content: "";
  position: absolute;
  background-color: #4d524f !important;

  width: 400%;
  height: 20%;
  top: 50%;
}

.icon-line::before {
  right: 120%;
}

.icon-line::after {
  left: 120%;
}

.contact-form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: right;
}

button {
  width: auto;
  padding: 12px 20px;

  border: none;

  border-radius: 8px;

  transition: 0.7s ease;

  display: block;
  margin-right: auto;
}
