<section
  id="contact.component.html"
  class="bgg text-center mx-auto  p-5 mb-5"
>
  <h1 class="fs-1 text-uppercase fw-bold mrgt">conatct section </h1>
  <div class="icon-line position-relative d-inline-block mt-1 mrgt2">
    <i class="fa-solid fa-star fs-5"></i>
  </div>

   <div class="contact-form text-end mt-5">
    <input type="text" placeholder="userName">
    <input type="number" placeholder="userAge">
    <input type="email" placeholder="userEmail">
    <input type="password" placeholder="userPassword">
    <button class="fw-semibold">send Message</button>
  </div>

</section>

