<section class="backg text-center align-center p-5  h11">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <div class="card">
          <div class="card-body text-center text-white backg1">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-3">
        <div class="card">
          <div class="card-body text-center text-white backg1">
            <h3>AROUND THE WEB</h3>
           <div class="row justify-content-center mt-4">
  <div class="col-sm-3 col-md-2 ">
    <span class="ico-o">
      <i class="fa-brands fa-facebook-f"></i>
    </span>
  </div>
  <div class="col-sm-3 col-md-2">
    <span class="ico-o">
      <i class="fa-brands fa-instagram"></i>
    </span>
  </div>
  <div class="col-sm-3  col-md-2 ">
    <span class="ico-o">
      <i class="fa-brands fa-twitter"></i>
    </span>
  </div>
  <div class="col-sm-3 col-md-2 ">
    <span class="ico-o">
      <i class="fa-brands fa-linkedin-in"></i>
    </span>
  </div>
</div>

             
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-3">
        <div class="card">
          <div class="card-body text-center text-white backg1">
            <h3>ABOUT FREELANCER</h3>
            <p>
              ABOUT FREELANCER Freelance is a free to use, licensed Bootstrap
              theme created by Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="end bg-dark h-50  text-center align-center p-2 text-white">
<p class="mt-2 fs-5">Copyright © Your Website 2021</p>
</section>