<nav
  class="navbar navbar-expand-md fixed-top bg-dark navbar-dark my-bg"
  [class.p-3]="isScrolling"
>
  <div class="container ms-5">
    <a class="navbar-brand fs-1 text-uppercase fw-bold" routerLink="/home"
      >Start Framework
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item line1 me-3 fw-semibold">
          <a
            class="nav-link active nav-link-1 nn fs-5"
            routerLinkActive="nn1"
            aria-current="page"
            routerLink="/about"
            >About</a
          >
        </li>
        <li class="nav-item line1 me-3">
          <a
            class="nav-link active nav-link-1 nn fw-semibold fs-5"
            routerLinkActive="nn1"
            aria-current="page"
            routerLink="/portfolio"
            >portfolio
          </a>
        </li>
        <li class="nav-item line1">
          <a
            class="nav-link active nav-link-1 nn fw-semibold fs-5"
            routerLinkActive="nn1"
            aria-current="page"
            routerLink="/contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>


