.bgg {
  height: 100vh;
  background-color: rgb(140, 0, 255);
}

img {
    
  width: 15%;
}



@media (max-width: 768px) {
  img {
    width: 200px;
  }
}

@media (max-width: 576px) {
  img {
    width: 250px;
  }
}

.img-container img {
  width: 100%;
  height: auto;
}

.icon-line {
  position: relative;
}

.icon-line::before,
.icon-line::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 400%;
  height: 20%;
  top: 50%;

}

.icon-line::before {
  right: 120%;
}

.icon-line::after {
  left: 120%;
}
